In [145]:
import pandas as pd
import re
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
ships_df = pd.read_csv("../output/ships.csv", sep = ";", encoding = "utf8")

Ship names

In [146]:
ship_names_df = ships_df[["ship_id", "name", "built_year"]]
def name_classifier(name):
    classification = "nan"
    class_dict = {
        "military": [
            "ADMIRAL", "GENERAL", "SCOUT", "MAJOR", "COMMODORE", "SPY"
        ],
        "civilian": [
            "MERCHANT", "TRADER", "ATTENDANT"
        ],
        "noble": [
            "DUKE", "DUCHESS", "LORD", "LADY", "COUNT", "KING", "QUEEN", "CAESAR", "SIR", "PRINCE", "MARQUIS", 
            "EARL", "MONARCH", "ROYAL"
        ],
        "place_mythical": [
            "ALBION"
        ],
        "names_mythical": [
            "AJAX", "ATLAS", "ACHILLES", "APOLLO", "ARIADNE", "AURORA", "AMAZON", "BELLONA", "TRITON", "SYREN", "SAMARITAN",
            "NEPTUNE", "MINERVA", "HYPERION", "ENDYMION", "CERES", "CASSANDRA", "CASTOR", "CHILDE HAROLD", "DIANA",
            "EURYDICE", "HECTOR", "HERCULES", "MERCURY", "ORPHEUS", "PERSEUS", "SAMPSON", "SOLOMON",
            "ZENOBIA"
        ],
        "animal_real":
        [
             "ALLIGATOR", "ANTELOPE", "BEE", "BEAR", "WHALE", "SWALLOW", "HORSE", "HOUND", "FOX",
            "FALCON", "EAGLE", "DOVE", "BULL", "DOLPHIN", "HAWK", "LION", "PANTHER"
        ],
        "animal_mythical":
        [
             "DRAKE", "DRAGON", "PHOENIX"
        ],
        "place_british":
        [
             "CASTLE", "AMERICA", "BEDFORD", "SHIRE", "BRIDGEWATER", "BLANDFORD", "CAERNARVON", "CALEDONIA",
            "CAMBRIDGE", "CANTERBURY", "YORK", "WEXFORD", "UNITED KINGDOM", "THAMES", "SUSSEX", "SCARBOROUGH",
            "NOTTINGHAM", "NEWCASTLE", "MIDDLESEX", "LONDON", "EXETER", "ESSEX", "DOVER", "CORNWALL", "KENT",
            "MARLBOROUGH", "ANGLESEY", "ANKERWYKE", "ARRAN", "CHANDOS", "BERWICK", "HARWELL", "BOYNE", "CLYDE", 
            "COLCHESTER", "CHESTERFIELD", "CHICHESTER", "DEPTFORD", "DERBY", "DUBLIN", "ENGLAND", "EDINBURGH",
            "FAIRFORD", "BOROUGH", "HOUGHTON", "HERTFORD", "LIVERPOOL", "NORTHUMBERLAND", "NORTHAMPTON",
            "NORFOLK", "SHREWSBURY", "STORMONT", "SEVERN", "SHAFTESBURY", "SUFFOLK", "WOODFORD", "WORCESTER",
            "WINDSOR", "WINCHELSEA", "WALPOLE", "WARWICK"
        ],
        "place_asia":
        [
             "ASIA", "BATAVIA", "BANGALORE", "BANTAM", "BENGAL", "BOMBAY", "BORNEO", "CALCUTTA", "CANTON", "INDIA",
            "GANGES", "FORT ", "FORMOSA", "COROMANDEL", "CARNATIC", "MOCHA", "CEYLON", "HINDOSTAN", "HOOGHLY", "MALABAR",
            "ORIENT", "ORIENTAL", "PACIFIC", "PENANG"
        ],
        "place_other":
        [
             "AMERICA", "ALMORAH", "ATLANTIC", "HANOVER", "BRUNSWICK", "CANADA", "BENIN", "AMERICAN", "AFRICAN",
            "MODENA", "EUROP", "EUPHRATES", "NILE", "SMYRNAOTE", "WATERLOO"
        ],
        "names_famous":
        [
            "AURENGZEB", "BARING", "PITT", "HASTINGS", "CLIVE", "WELLESLEY"
        ],
        "names_british":
        [
            "ANN", "ALEXANDER", "ALFRED", "ABIGAIL", "ADDISON", "AISLABIE", "ABERCROMBY", "BENJAMIN", "BETSY",
            "ANSON", "ABBERTON", "ABINGDON", "ALBEMARLE", "BOLTON", "BECKENHAM", "BROXBORNEBURY", "WILLIAM", "THOMAS",
            "SUSAN", "GEORGE", "MARY", "JAMES", "HENRY", "GEORGE", "ELIZABETH", "DAVID", "CHARLES", "CATHERINE",
            "CAROLIN", "JOSIAH", "JONES", "JULIA", "KATHERINE", "ABERCROMBIE ROBINSON", "ALTHEA", "ARABELLA", "AUGUSTA", 
            "CATHARINE", "EGMONT", "ELIZA", "EDWARD", "HERBERT", "ISABELLA", "JOHN", "JONAS", "MATILDA",
            "MARGARET", "MARIA", "MARTHA", "NANCY", "NATHANIEL", "SARA"
        ],
        "concept":
        [
            "ADVICE", "ADVANCE", "ASCENSION", "MERCHANT", "AMITY", "BLESSING", "FACTOR",
            "BROTHERS", "WAGER", "UNITY", "UNION", "SUCCESS", "SOCIETY", "RESOLUTION", "RELEASE", "REGRET", "RECOVERY",
            "OCEAN", "HOPE", "FORTITUDE", "EXPERIMENT", "EXPEDITION", "DISCOVERY", "DILIGENCE", "DEFENCE",
            "CONSENT", "CONCORD", "BLACKAMOOR", "COAST", "COMET", "CORONATION", "ENDEAVOUR", "EXPECTATION", "EXCHANGE",
            "FAME", "INTELLIGENCE", "INDUSTRY", "AUSPICIOUS", "ADVANCE", "ASCENSION", 
            "BELLE", "BONITO", "BRILLIANT", "DILIGENT", "INDEFATIGABLE", "INDISPENSIBLE", "LOYAL", "LOVE", "LIBERTY",
            "PERSEVERANCE", "ADVENTURE", "SATISFACTION", "WELCOME", "WELFARE"
        ],
        "other":
        [
            "AUTOMATIA", "ROSE", "PEARL", "CLAW", "CHESTNUT", "CROWN", "DARLING", "DIAMOND", "EMERALD"
        ]
    }
    for classification in class_dict.keys():
        for word in class_dict[classification]:
            if word in name:
                return classification
ship_names_df["name_class"] = ship_names_df["name"].apply(name_classifier)
print(ship_names_df["name_class"].value_counts(dropna = False))

None               474
noble              219
place_british      185
names_british      176
concept            113
names_mythical      61
place_asia          57
animal_real         54
military            29
civilian            28
place_other         19
names_famous        17
other               13
animal_mythical     12
place_mythical       4
Name: name_class, dtype: int64

C:\Users\lorga\AppData\Local\Temp\ipykernel_8508\1377125265.py:87: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ship_names_df["name_class"] = ship_names_df["name"].apply(name_classifier)

Size over time